params.outdir = "results"
nextflow.enable.dsl = 2
docker.runOptions='-u $(id -u):$(id -g)'
docker.enabled=true 

manifest {
    author = "Kane Toh"
    name = "CSI GeDaC scATAC-seq pipeline"
    description= "scATAC-seq nextflow DSL-2 pipeline. Processes 10x chromium data with cellranger-atac 2.1.0"
    mainScript = "main.nf"
    version = '1.0.0'
}

process {
    withLabel: retry_increasing_mem { 
       errorStrategy = 'retry'
       memory = { 16.GB * task.attempt }
       cpus = { 8 * task.attempt }
       maxRetries = 3
    }

    withLabel: mem_small { 
       memory = 8.GB
       cpus = 4
    }

    withLabel: mem_large { 
       memory = 32.GB
       cpus = 16
    }
}
